# ---- TypeScript ----

**/*.tsbuildinfo

# ---- Node ----

**/node_modules/
**/dist/
**/build/
**/.cache/
**/*.tgz

# ---- Logs ----

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# ---- Emacs ----

.dir-locals.el
*~
\#*\#
.\#*
*.elc
auto-save-list/
*.~undo-tree~

# ---- Various tools and inferior editors ----

.DS_Store
*.swp
*.swo
.idea/
.vscode/
tags
TAGS

# ---- Misc ----

*.log
*.bak
*.orig
.aider*
